services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: school_backend
    environment:
      PORT: 5000
      DB_HOST: fdbfaab122c0842cf1db7eec.twc1.net
      DB_PORT: 5432
      DB_NAME: db_Jomiweb
      DB_USER: gen_user
      DB_PASSWORD: Ac128Sp3
      NODE_ENV: production
      JWT_SECRET: ${JWT_SECRET:-change-me}
      JWT_EXPIRE: 7d
      PGSSLROOTCERT: /app/certs/root.crt
      UPLOAD_PATH: /app/uploads
    volumes:
      - ./backend/uploads:/app/uploads
    ports:
      - "5000:5000"
    command: sh -c "sleep 5 && npm run migrate && npm start"
    networks:
      - school_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /api
    container_name: school_frontend
    environment:
      BACKEND_HOST: backend:5000
    ports:
      - "8834:80"
    depends_on:
      - backend
    networks:
      - school_network

  admin:
    build:
      context: ./admin
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /api
    container_name: school_admin
    environment:
      BACKEND_HOST: backend:5000
    ports:
      - "8833:80"
    depends_on:
      - backend
    networks:
      - school_network

networks:
  school_network:
    driver: bridge

